<div id="service">
  <div class="container">
    <div class="row centered">
      <div class="col-md-4">
        <i class="fa fa-heart-o"></i>
        <h4>Sobre a Engarte</h4>
        <p class="text-justify">Somos uma empresa de tecnologia especializada em assessoria em marketing, segurança e inovação digital que atua no mercado brasileiro desde 2012. Inicialmente especializada no setor de Engenharia, agora atuando no efervescente nicho do Marketing Digital Político. </p>
        <p><br/><a href="/sobre" class="btn btn-theme">Sobre</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-flask"></i>
        <h4>Público-Alvo</h4>
        <p class="text-justify">Especializada em Política, nossa plataforma atende candidatos, políticos, partidos bem como assessores e coordenadores de campanha. Seja para uma eleição em uma cidade de poucos milhares de habitantes, seja para um mandato de deputado federal.
        </p>
        <p><br/><a href="/planos" class="btn btn-theme">Planos</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-trophy"></i>
        <h4>Nossos Serviços</h4>
        <p class="text-justify">Tecnologia, inovação marketing e segurança digital. Estes são os pilares do serviço que oferecemos com Engarte, utilizando ferramentas modernas, seguras, na medida certa para as necessidades de um mandato ou campanha vencedora.</p>
        <p><br/><a href="/servicos" class="btn btn-theme">Serviços</a></p>
      </div>
    </div>
  </div>
</div>
