<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Novos tempos. Novas soluções.</h3>
                <h1>Assessoria Digital para Politicos e Candidatos</h1>
                <h5>Na <b>Era da Informação</b>, você tem em quem confiar para tomar decisões?</h5>
                <h5>Seus <b>adversários</b> têm. Não fique pra trás!</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
