<section class="section">
  <div class="container">
    <div class="row text-center">
      <h2 class="h1 page-header">Nossos Serviços</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
        <div class="phone">
          <img class="img-responsive img-rounded" src="/assets/img/phone.png">
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="content">
          <div class="pull-middle">
            <ul class="media-list">
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-cloud"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Websites, blogs, aplicativos e bots</h3>
                  <p>Sua presença online. 24 horas por dia informando e dialogando com os eleitores e cidadãos. </p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-thumbs-o-up"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Monitoramento de redes sociais</h3>
                  <p>Não seja o último a saber sobre o que dizem de você online: seja o primeiro.</p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-group"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Tecnologia para equipes e comitês</h3>
                  <p>Gerenciar uma campanha é como gerenciar um projeto. E nós temos as melhores ferramentas para isso.</p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-area-chart"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Pesquisas e relatórios Quali/Quant</h3>
                  <p>Por que não adianta investir, se não medirmos os resultados. Acompanhe seu crescimento disparar nos gráficos!</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 text-right">
        <div class="content">
          <div class="pull-middle">
            <h3><strong>Marketing Digital</strong></h3>
            <p class="text-justify">A internet se consolida cada dia mais como o principal meio de comunicação do país, e é aqui que acontecem as principais discussões e troca de informação, formando opiniões de cidadãs e cidadãos que votarão nas próximas eleições.</p>
            <p class="text-justify">Para um político ou candidato hoje é fundamental ser capaz de participar dessa discussão, reforçar suas posições, construir uma comunidade virtual em torno de seus projetos e propostas. Os que não fazem isso, logo serão completamente ofuscados pelos milhares que já fazem ou estão caminhando para fazer.</p>
            <p class="text-center"><b>A internet é o novo "horário eleitoral" da televisão.</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 mt-100 mb-100">
        <div class="phone">
          <img class="img-responsive img-rounded" src="/assets/img/tabletphone.png">
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="content">
          <div class="pull-middle">
            <h3><strong>Segurança Digital</strong></h3>
            <p class="text-justify">Ao se tornar parte integral da comunicação na nossa sociedade, a internet também potencializou os riscos e vulnerabilidades de segurança e privacidade, principalmente de pessoas públicas, que se tornam alvos frequentes de ataques e atentados.</p>
            <p class="text-justify">Por isso, é preciso ser protagonista de sua imagem na internet, respondendo por canais oficiais, que não sejam vulneráveis a ataques, bem como criar e implementar rotinas básicas ou complexas de segurança, indispensáveis nos dias de hoje, mas frequentemente negligenciado por pessoas dos mais importantes cargos..</p>
            <p class="text-center"><b>Tenha soberania sobre sua presença digital.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
