<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-comment-o"></i>
            <p>{{ site.data.testimonial.testimonial.message }}</p>
            <h4><br/>{{ site.data.testimonial.testimonial.author }}</h4>
            <p>{{ site.data.testimonial.testimonial.position }}</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->
